*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
    font-weight: 500;
}

html,body{
    width: 100%;
    scrollbar-width: thin;  
    background-color: #48a30012;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.main h1{
    margin: 15px;
    font-size: 64px;
    text-align: center;
    color: #61481C;
}

.main h1 span{
    color: #48A300;
}

.container{
    min-width: 660px;
    background-color: #fbfbfb;
    border-radius: 15px;
    margin: 10px; 
    padding: 28px 38px; 
    box-shadow: 0 0 10px 5px rgba(72, 163, 0, 0.07);
}

.container h2{
    font-size: 32px;
    padding-bottom: 20px;
}

.container img{
    vertical-align: middle;
}

.container p{
    font-size: 16px;
    padding-bottom: 20px;
}

.progress-bar{
    width: 574px;
    height: 30px;
    border-radius: 15px;
    background-color: #48a30012;
}

.progress-completed{
    width: 0;
    height: 30px;
    background-color: #48A300;
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* padding-left: 15px; */
    overflow: hidden;
}

.progress-completed span{
    color: #EEFFE0;
    font-size: 12px;
    font-weight: 500;
}

.container .warning{
    color: red;
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    display: none;
    margin-bottom: -15px;
}

.task1{
    width: 570px;
    height: 82px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.task1 .circle{
    width: 24px;
    height: 24px;
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    display: none;
}

.completed .check-icon {
    display: block;
}

.task1 input{
    font-size: 16px;
    font-weight: 500;
    border: none;
    width: 70%;
}

.task1 input::placeholder{
    color: #d9d9d9;
}

.completed .goal-input{
    color: #48A300;
    text-decoration: line-through;
}

footer{
    text-align: center;
    margin-top: 60px;
}

footer h3{
    font-size: 16px;
}

footer .name{
    font-size: 10px;
    margin-top: 70px;
}
